<!DOCTYPE html>
<html lang="en">
<head>
    <script type='text/javascript'>
        function ajouterAdresse(){
            window.location.replace("../formAdresse");
        }
    </script>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>N° de voirie</th>
        <th>Libelle de voirie</th>
        <th>Ville</th>
        <th>Code postal</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${adresses}">
        <td th:text="${c.id}">...</td>
        <td th:text="${c.numeroRue}">...</td>
        <td th:text="${c.libelleVoirie}">...</td>
        <td th:text="${c.ville}">...</td>
        <td th:text="${c.codePostal}">...</td>
    </tr>
    </tbody>
</table>
<a th:onclick="'javascript:ajouterAdresse();'">
    <button type="button">
        Ajouter une adresse
    </button>
</a>


</body>
</html>